@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .gradient-bg {
    background: radial-gradient(ellipse, white, transparent);
  }

  .gradient-bg-thick {
    background: radial-gradient(ellipse, white 20%, transparent);
  }

  .text-shadow-50px {
    text-shadow: 0 0 50px white, 0 0 50px white, 0 0 50px white, 0 0 50px white,
      0 0 50px white, 0 0 50px white, 0 0 50px white;
  }

  .text-shadow-20px {
    text-shadow: 0 0 20px white, 0 0 20px white, 0 0 20px white, 0 0 20px white,
      0 0 20px white, 0 0 20px white, 0 0 20px white;
  }

  @media (prefers-color-scheme: dark) {
    .gradient-bg {
      background: radial-gradient(ellipse, black, transparent);
    }

    .gradient-bg-thick {
      background: radial-gradient(ellipse, black 20%, transparent);
    }

    .text-shadow-50px {
      text-shadow: 0 0 50px black, 0 0 50px black, 0 0 50px black,
        0 0 50px black, 0 0 50px black, 0 0 50px black, 0 0 50px black;
    }

    .text-shadow-20px {
      text-shadow: 0 0 20px black, 0 0 20px black, 0 0 20px black,
        0 0 20px black, 0 0 20px black, 0 0 20px black, 0 0 20px black;
    }
  }
}
